@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');



*{
  margin: 0;
  box-sizing: border-box;
}


// variables
$calc-rounding: 2vh;
$calc-border: .6vh;



html{
  height: fill-available;
}

body{
  font-family: "M PLUS Rounded 1c";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calculator{
  overflow: hidden;
  border: $calc-border solid #000;
  border-radius: $calc-rounding;
  width: 100vw;
  max-width: 42vh;
  font-weight: 900;
  .display{
    text-align: right;
    font-size: 8vh;
    font-weight: 700;
    padding: 6vh 2vh 2vh;
    div{
      &:nth-child(1){
        font-size: 4vh;
        height: 4vh;
      }
      &:nth-child(2){ overflow-x: scroll; }
    }
  }
  .numpad{
    border-top: $calc-border solid #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1vh;
    .button{
      border: $calc-border solid #000;
      border-radius: $calc-rounding;
      cursor: pointer;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8vh;
      height: 8vh;
      margin: .8vh auto;
      font-size: 2.5vh;
      &:active{ background: #0000002d; }
    }
  }




  ::-webkit-scrollbar {
    height: 1vh;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 100vmax;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
}