@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

body {
  opacity: 0.7;
  font-family: "M PLUS Rounded 1c";
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  overflow: hidden;
  outline: 0.6vh solid #000;
  border-radius: 2vh;
  width: 42vh;
  font-weight: 900;
}
.calculator .display {
  text-align: right;
  font-size: 8vh;
  font-weight: 700;
  padding: 6vh 2vh 2vh;
}
.calculator .display div:nth-child(1) {
  font-size: 4vh;
  height: 4vh;
}
.calculator .display div:nth-child(2) {
  overflow-x: scroll;
}
.calculator .numpad {
  border-top: 0.6vh solid #000;
  padding: 2vh;
  display: flex;
  flex-wrap: wrap;
}
.calculator .numpad .button {
  border: 0.6vh solid #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 8vh;
  font-size: 2.5vh;
}
.calculator .numpad .button:nth-child(17) {
  border-bottom-left-radius: 1.3333333333vh;
}
.calculator .numpad .button:nth-child(20) {
  border-bottom-right-radius: 1.3333333333vh;
}
.calculator .numpad .button:nth-child(1) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(1) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(2) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(2) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(3) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(3) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(4) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(5) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(5) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(6) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(6) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(7) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(7) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(8) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(9) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(9) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(10) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(10) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(11) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(11) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(12) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(13) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(13) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(14) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(14) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(15) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(15) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(16) {
  border-bottom-width: 0;
}
.calculator .numpad .button:nth-child(17) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(18) {
  border-right-width: 0;
}
.calculator .numpad .button:nth-child(19) {
  border-right-width: 0;
}
.calculator ::-webkit-scrollbar {
  height: 1vh;
}
.calculator ::-webkit-scrollbar-track {
  background: transparent;
}
.calculator ::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 100vmax;
  background-clip: content-box;
}
.calculator ::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}/*# sourceMappingURL=index.css.map */